<div class="m-3">

  <div class="row mb-2">
    <div class="col-10">
      <h4>Shopping &nbsp; ({{productService.productList?.length}} items) </h4>
    </div>
    <div class="col-2 text-right">
      <button class="btn btn-outline-info" (click)="searchToggle = !searchToggle ">
        <span class="small" *ngIf="productService.isSearch">[Filterd] &nbsp; </span> <i class="fas fa-search"></i>
      </button>
    </div>
  </div>

  <!-- {{productService.formSearchProduct | json}} -->
  <!-- [ngClass]="{'float-component-open':searchToggle}" -->
  <form #form="ngForm" autocomplete="off">

    <div class="card slider " [ngClass]="{'slider-closed':!searchToggle , 'mb-3' : searchToggle}">
      <div class="p-3">
        <h5>Search Options : </h5>
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-lg-7 col-md-12">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Search</span>
                  </div>
                  <input type="text" class="form-control" placeholder="Product Id" name="productID" #productID="ngModel"
                    [(ngModel)]="productService.formSearchProduct.productID">
                  <input type="text" class="form-control" placeholder="Product Name" name="productName"
                    #productName="ngModel" [(ngModel)]="productService.formSearchProduct.productName">
                </div>
              </div>
              <div class="col-lg-5  col-md-12">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Category</span>
                  </div>
                  <select class="custom-select" name="catID" #catID="ngModel"
                    [(ngModel)]="productService.formSearchProduct.catID" placeholder="Product Id">
                    <option value="" disabled selected>Choose Category</option>
                    <option *ngFor="let category of categoryService.categoryList" value="{{category.catID}}">
                      {{category.catName}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Price Range</span>
              </div>
              <input type="number" class="form-control" placeholder="From" name="priceFrom" #priceFrom="ngModel"
                [(ngModel)]="productService.formSearchProduct.priceFrom">
              <input type="number" class="form-control" placeholder="To" name="priceTo" #priceTo="ngModel"
                [(ngModel)]="productService.formSearchProduct.priceTo">
            </div>
          </div>
          <div class="col text-right">
            <button *ngIf="productService.isSearch" type="button" class="btn btn-danger"
              (click)="productService.clearFormSearchProduct()">Clear</button>
            &nbsp;
            <button type="button" class="btn btn-primary" (click)="productService.searchProduct()">Search</button>
          </div>
        </div>
      </div>

    </div>

  </form>

  <div class="card">
    <div class="row m-3">
      <div class="col-md-3 col-sm-6" *ngFor="let product of productService.productList;let i = index">
        <div class="card mb-3">
          <div class="image-container">
            <div class="product-image"
              [ngStyle]="{'background-image': 'url(./assets/img/' + product.imgUrl + '),url(./assets/img/no-img.jpg)'}">
            </div>
            <div class="overlay">
              <div class="button button-primary" [routerLink]="['/product', product.productID]">View Details</div>
              <div class="button button-primary" (click)="cartService.makeCartObject(product,1)">Add To Cart</div>
            </div>
          </div>
          <div class="card-body">
            <!-- <div class="card-title">{{product.productID}}</div> -->
            <div class="card-title text-center">{{product.productName}}</div>
            <div class="card-text text-right">{{product.price | currency:'THB':'symbol-narrow'}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
