@import url('//fonts.googleapis.com/css?family=Roboto:400,400italic,500,700|Playfair+Display:400,400italic,700,700italic|Montserrat:400|Karla:400');

:root {
  --topbar-color: #fff;
}

/* @import '../bootstrap.min.css'; */
/* @import "/node_modules/fortawesome/fontawesome-free/css/fontawesome.min.css"; */
body {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.666;
  padding-top: 70px;
}

.main-header {
  color: #1d1d20;
  vertical-align: middle;
  display: table;
  width: 100%;
  background-color: var(--topbar-color);
}

.main-header .header-menu {
  display: table;
  width: 100%;
  padding: 0 15px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  table-layout: fixed;
  border-bottom-color: #e4e4e4;
}

.header-nav-wrapper,
.header-cart-wrapper {
  display: table-cell;
  font-weight: 700;
  vertical-align: middle;
}

.header-nav {
  display: block;
  margin: 0;
  text-align: center;
}

.header-nav-item:first-child {
  margin-left: 0;
}

.header-cart-item a,
.header-nav-item a {
  color: #1d1d20;
  font-family: Roboto;
}

.header-nav-item {
  display: inline-block;
  margin-left: 30px;
  position: inherit;
}

.header-cart-item .fa,
.header-nav-item .fa {
  margin-top: 1px;
  margin-left: 6px;
}

.header-cart {
  text-align: right;
  margin-right: 30px;
}

.button {
  display: inline-block;
  padding: 0 30px;
  color: white;
  text-align: center;
  font-size: 0.85em;
  font-weight: 600;
  letter-spacing: .15rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid #3b3d38;
  cursor: pointer;
  box-sizing: border-box;
}

.button.button-primary {
  color: #fff;
  background-color: #3b3d38;
  border-color: #3b3d38;
}

.button.button-primary:hover {
  color: #fff;
  background-color: #52525b;
  border-color: #52525b;
}

.button.button-secondary {
  color: #1d1d20;
  background-color: #fff;
  border-color: #1d1d20;
}

.button.button-secondary:hover {
  color: #fff;
  background-color: #8e8e90;
  border-color: #8e8e90;
}

.button.button-wide {
  width: 100%;
}

.button.button-large {
  padding: 19px 22px;
}

@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }

  .navbar-collapse.in {
    overflow-y: visible;
  }

  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 340px;
}

@media (max-device-width: 480px) and (orientation: landscape) {

  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px;
  }
}

@media (min-width: 768px) {

  .navbar-fixed-top,
  .navbar-fixed-bottom {
    border-radius: 0;
  }
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

a.active-link {
  border: solid 1px rgba(0, 0, 0, .5);
  border-radius: 5px;
  background-color: rgba(216, 216, 216, 0.5);
}

input.ng-touched.ng-invalid.form-CUD {
  border-color: #dc3545;
}

input.ng-touched.ng-valid.form-CUD {
  border-color: #28a745;
}

select.ng-touched.ng-invalid.form-CUD {
  border-color: #dc3545;
}

select.ng-touched.ng-valid.form-CUD {
  border-color: #28a745;
}

.slider {
  display: inline;
  overflow-y: hidden;
  max-height: 100rem;
  /* approximate max height */
  opacity: 1;
  transition-property: all;
  transition-duration: .5s;
  /* transition-timing-function: cubic-bezier(0, 1, 0.5, 1); */
}

.slider-closed {
  opacity: 0 !important;
  max-height: 0rem !important;
  /* padding: 0 !important;
  margin: 0 !important; */
}

.product-image-big {
  float: left;
  max-width: 350px;
  max-height: 350px;
  height: 500px;
  width: 500px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.product-image-medium {
  float: left;
  /* max-width: 100px;
  max-height: 100px; */
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
}

.card {
  box-shadow: 5px 5px 5px 0px rgba(230, 230, 230, 1);
}

.price-font {
  color: #9f9f9f;
  font-family: "Playfair Display";
  font-size: 1em;
}

.input-quatity {
  text-align: center;
  width: 65px;
  line-height: 58px;
  background: #eee;
  color: #7b7b7b;
  border: 0;
}

.btn-block-brown {
  color: #fff;
  background-color: #3b3d38;
  border-color: #3b3d38;
  /* width: 65px; */
  line-height: 58px;
  padding-left: 15px;
  padding-right: 15px;
  border: 0;
}
